* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #579bd6;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
.nav_ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav_li {
    margin-left: 20px;
    margin-right: 20px;
}
.nav_a {
    color: #d8d4c8;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover {
    color: #52dbb7;
}

footer {
    background: rgb(225, 233, 196);
    color: #fff;
    position: sticky;
    text-align: center;padding: 20px;
}

h1 {
    color: #c1d5e7;
}
h2 {
    color: #0FFCBE;
}
p {
    color: #ffffff;
}
a {
    text-decoration: none;
    color: rgb(117, 117, 114);
}
button {
    background-color: #29c299;
    color: #e5f1fc;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    align-self: center;
}
ul {
    list-style: none;
    display: flex;
}
li {
    text-decoration: none;
}
section {
    padding: 80px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
form label {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}
form input, form textarea {
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 5px;
}
form button {
    background: #222;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
form button:hover {
    background: #52dbb7;
}

#home {
    background: url(./images/Sist_Vend.jpg) center/cover no-repeat;
    text-align: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home h1 {
    font-size: 40px;
}
#home p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#button_form {
    margin-top: 12px;
}

#espaco {
    height: 84px;
    background-color: #222;
}

.cont {
    display: flex;
    flex-direction: column;
}
.midia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info_img {
    width: 355px;
    height: 355px;
    align-self: center;
}
.info_ul {
    display: flex;
    flex-direction: column;
}
.info_main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.nav_aud {
    justify-self: flex-end;
}